# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.env.*
!.env.example
!.env.*.example
venv/
.venv/
ENV/
db.sqlite3
*.sqlite3
staticfiles/
staticfiles/
staticfiles/

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log
