# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
venv/
.venv/
ENV/
db.sqlite3
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local
pnpm-lock.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log
