@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-sand text-charcoal font-sans antialiased;
  }
}
